<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>好评榜</key>
		<array>
			<string>香辣鸡翅(2份)0</string>
			<string>香辣鸡翅0</string>
			<string>魔法鸡块0</string>
			<string>川辣脆皮鸡腿汉堡0</string>
			<string>孜然鸡柳0</string>
			<string>手枪腿0</string>
			<string>脆皮炸鸡0</string>
			<string>南洋鸡肉卷0</string>
			<string>和风咖喱鸡块饭0</string>
			<string>脆皮照烧鸡肉饭0</string>
			<string>照烧鸡肉米汉堡0</string>
			<string>超级鸡腿堡0</string>
			<string>百事可乐/中0</string>
			<string>川辣脆皮炸鸡0</string>
			<string>幸福奶茶/热0</string>
			<string>德克士鸡块0</string>
		</array>
	</dict>
	<dict>
		<key>热销榜</key>
		<array>
			<string>香辣鸡翅(2份)1</string>
			<string>香辣鸡翅1</string>
			<string>魔法鸡块1</string>
			<string>川辣脆皮鸡腿汉堡1</string>
			<string>孜然鸡柳1</string>
			<string>手枪腿1</string>
			<string>脆皮炸鸡1</string>
			<string>南洋鸡肉卷1</string>
			<string>和风咖喱鸡块饭1</string>
			<string>脆皮照烧鸡肉饭1</string>
			<string>照烧鸡肉米汉堡1</string>
			<string>超级鸡腿堡1</string>
			<string>百事可乐/中1</string>
			<string>川辣脆皮炸鸡1</string>
			<string>幸福奶茶/热1</string>
			<string>德克士鸡块1</string>
		</array>
	</dict>
	<dict>
		<key>1元特价</key>
		<array>
			<string>香辣鸡翅(2份)2</string>
			<string>香辣鸡翅2</string>
			<string>魔法鸡块2</string>
			<string>川辣脆皮鸡腿汉堡2</string>
			<string>孜然鸡柳2</string>
			<string>手枪腿2</string>
			<string>脆皮炸鸡2</string>
			<string>南洋鸡肉卷2</string>
			<string>和风咖喱鸡块饭2</string>
			<string>脆皮照烧鸡肉饭2</string>
			<string>照烧鸡肉米汉堡2</string>
			<string>超级鸡腿堡2</string>
			<string>百事可乐/中2</string>
			<string>川辣脆皮炸鸡2</string>
			<string>幸福奶茶/热2</string>
			<string>德克士鸡块2</string>
		</array>
	</dict>
	<dict>
		<key>5元特价</key>
		<array>
			<string>香辣鸡翅(2份)3</string>
			<string>香辣鸡翅3</string>
			<string>魔法鸡块3</string>
			<string>川辣脆皮鸡腿汉堡3</string>
			<string>孜然鸡柳3</string>
			<string>手枪腿3</string>
			<string>脆皮炸鸡3</string>
			<string>南洋鸡肉卷3</string>
			<string>和风咖喱鸡块饭3</string>
			<string>脆皮照烧鸡肉饭3</string>
			<string>照烧鸡肉米汉堡3</string>
			<string>超级鸡腿堡3</string>
			<string>百事可乐/中3</string>
			<string>川辣脆皮炸鸡3</string>
			<string>幸福奶茶/热3</string>
			<string>德克士鸡块3</string>
		</array>
	</dict>
	<dict>
		<key>10元特价</key>
		<array>
			<string>香辣鸡翅(2份)4</string>
			<string>香辣鸡翅4</string>
			<string>魔法鸡块4</string>
			<string>川辣脆皮鸡腿汉堡4</string>
			<string>孜然鸡柳4</string>
			<string>手枪腿4</string>
			<string>脆皮炸鸡4</string>
			<string>南洋鸡肉卷4</string>
			<string>和风咖喱鸡块饭4</string>
			<string>脆皮照烧鸡肉饭4</string>
			<string>照烧鸡肉米汉堡4</string>
			<string>超级鸡腿堡4</string>
			<string>百事可乐/中4</string>
			<string>川辣脆皮炸鸡4</string>
			<string>幸福奶茶/热4</string>
			<string>德克士鸡块4</string>
		</array>
	</dict>
	<dict>
		<key>单点</key>
		<array>
			<string>香辣鸡翅(2份)5</string>
			<string>香辣鸡翅5</string>
			<string>魔法鸡块5</string>
			<string>川辣脆皮鸡腿汉堡5</string>
			<string>孜然鸡柳5</string>
			<string>手枪腿5</string>
			<string>脆皮炸鸡5</string>
			<string>南洋鸡肉卷5</string>
			<string>和风咖喱鸡块饭5</string>
			<string>脆皮照烧鸡肉饭5</string>
			<string>照烧鸡肉米汉堡5</string>
			<string>超级鸡腿堡5</string>
			<string>百事可乐/中5</string>
			<string>川辣脆皮炸鸡5</string>
			<string>幸福奶茶/热5</string>
			<string>德克士鸡块5</string>
		</array>
	</dict>
	<dict>
		<key>套餐</key>
		<array>
			<string>香辣鸡翅(2份)6</string>
			<string>香辣鸡翅6</string>
			<string>魔法鸡块6</string>
			<string>川辣脆皮鸡腿汉堡6</string>
			<string>孜然鸡柳6</string>
			<string>手枪腿6</string>
			<string>脆皮炸鸡6</string>
			<string>南洋鸡肉卷6</string>
			<string>和风咖喱鸡块饭6</string>
			<string>脆皮照烧鸡肉饭6</string>
			<string>照烧鸡肉米汉堡6</string>
			<string>超级鸡腿堡6</string>
			<string>百事可乐/中6</string>
			<string>川辣脆皮炸鸡6</string>
			<string>幸福奶茶/热6</string>
			<string>德克士鸡块6</string>
		</array>
	</dict>
	<dict>
		<key>副食</key>
		<array>
			<string>香辣鸡翅(2份)7</string>
			<string>香辣鸡翅7</string>
			<string>魔法鸡块7</string>
			<string>川辣脆皮鸡腿汉堡7</string>
			<string>孜然鸡柳7</string>
			<string>手枪腿7</string>
			<string>脆皮炸鸡7</string>
			<string>南洋鸡肉卷7</string>
			<string>和风咖喱鸡块饭7</string>
			<string>脆皮照烧鸡肉饭7</string>
			<string>照烧鸡肉米汉堡7</string>
			<string>超级鸡腿堡7</string>
			<string>百事可乐/中7</string>
			<string>川辣脆皮炸鸡7</string>
			<string>幸福奶茶/热7</string>
			<string>德克士鸡块7</string>
		</array>
	</dict>
	<dict>
		<key>饮料</key>
		<array>
			<string>香辣鸡翅(2份)8</string>
			<string>香辣鸡翅8</string>
			<string>魔法鸡块8</string>
			<string>川辣脆皮鸡腿汉堡8</string>
			<string>孜然鸡柳8</string>
			<string>手枪腿8</string>
			<string>脆皮炸鸡8</string>
			<string>南洋鸡肉卷8</string>
			<string>和风咖喱鸡块饭8</string>
			<string>脆皮照烧鸡肉饭8</string>
			<string>照烧鸡肉米汉堡8</string>
			<string>超级鸡腿堡8</string>
			<string>百事可乐/中8</string>
			<string>川辣脆皮炸鸡8</string>
			<string>幸福奶茶/热8</string>
			<string>德克士鸡块8</string>
		</array>
	</dict>
	<dict>
		<key>特价新款玩具</key>
		<array>
			<string>香辣鸡翅(2份)9</string>
			<string>香辣鸡翅9</string>
			<string>魔法鸡块9</string>
			<string>川辣脆皮鸡腿汉堡9</string>
			<string>孜然鸡柳9</string>
			<string>手枪腿9</string>
			<string>脆皮炸鸡9</string>
			<string>南洋鸡肉卷9</string>
			<string>和风咖喱鸡块饭9</string>
			<string>脆皮照烧鸡肉饭9</string>
			<string>照烧鸡肉米汉堡9</string>
			<string>超级鸡腿堡9</string>
			<string>百事可乐/中9</string>
			<string>川辣脆皮炸鸡9</string>
			<string>幸福奶茶/热9</string>
			<string>德克士鸡块9</string>
		</array>
	</dict>
</array>
</plist>
